// colors
$main-bg-color: #121213;
$main-text-white: #ffffff;
$main-gray: #3a3a3c;

// heights
$navbar-height: 55px;

// breakpoint
$breakpoint-height: 775px;

// game color status
$green-correct: #6aaa64;
$yellow-close: #c9b458;
$grey-incorrect: #3a3a3c;