<div class="side-nav">
    <div class="side-nav-top">
        <div class="side-nav-title">
            <h2>Wordle</h2>
            <span class="unlimited-text">Unlimited</span>
        </div>
        <div class="side-nav-links">
            <ul>
                <li>
                    <mat-icon svgIcon="tableCells"></mat-icon>
                    <a href="https://www.nytimes.com/games/wordle/index.html" target="_blank">Play the Original Wordle</a>
                </li>
                <li>
                    <mat-icon>public</mat-icon>
                    <a href="https://worldle.teuteuf.fr/" target="_blank">Wordle - Country Edition</a>
                </li>
                <li>
                    <mat-icon>code</mat-icon>
                    <a href="https://github.com/cwedwards9/wordle-clone" target="_blank">Wordle Clone Code</a>
                </li>
                <li>
                    <mat-icon>account_circle</mat-icon>
                    <a href="https://chasewedwards.com/" target="_blank">About the Developer</a>
                </li>
            </ul>
        </div>
    </div>
    <p class="copyright">&copy; {{ year }} Chase Edwards</p>
</div>