@import "variables.scss";

.side-nav {
    background-color: $main-bg-color;
    color: $main-text-white;
    border-right: 1px solid $main-gray;
    width: 300px;
    padding: 0.75rem;
    
    &-title {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;

        h2 {
            font-size: 28px;
        }
    }

    .unlimited-text {
        font-family: Brush Script MT, Brush Script Std, cursive;
        font-size: 1.25rem;
        transform: rotate(20deg);
    }

    &-links {
        li {
            margin-bottom: 1.25rem;
        }
    }
}
