<div class="settings-dialog">
    <div class="settings-header">
        <div class="placeholder"></div>
        <h2 class="settings-title">SETTINGS</h2>
        <button
            mat-icon-button
            class="close-settings-btn"
            aria-label="Close button"
            [mat-dialog-close]>
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="settings-content">
        <div class="settings-item">
            <h3>Dark Theme</h3>
            <mat-divider></mat-divider>
        </div>
        <div class="settings-item">
            <h3>Feedback</h3>
            <mat-divider></mat-divider>
        </div>
        <div class="settings-item">
            <h3>Developer Feedback</h3>
            <mat-divider></mat-divider>
        </div>
        <div class="settings-item">
            <h3>Reset Stats</h3>
            <mat-divider></mat-divider>
        </div>
    </div>
    <p class="copyright">&copy; {{ year }} Chase Edwards</p>
</div>
