<div class="settings-dialog">
    <div class="settings-header">
        <div class="placeholder"></div>
        <h2 class="settings-title">SETTINGS</h2>
        <button
            mat-icon-button
            class="close-settings-btn"
            aria-label="Close button"
            [mat-dialog-close]>
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="settings-content">
        <div class="settings-item">
            <h3>Dark Theme</h3>
            <mat-slide-toggle 
                title="More themes coming soon!" 
                [color]="'primary'" 
                [checked]="true" 
                [disabled]="true">
            </mat-slide-toggle>
        </div>
        <div class="settings-item">
            <h3>Feedback</h3>
            <a href="mailto:chase.w.edwards9@gmail.com">Email</a>
        </div>
        <div class="settings-item">
            <h3>Developer Feedback</h3>
            <a href="https://github.com/cwedwards9/wordle-clone/pulls" target="_blank">Github</a>
        </div>
        <div class="settings-item">
            <h3>Reset Stats</h3>
            <button (click)="resetGame()" mat-stroked-button>Reset</button>
        </div>
    </div>
    <p class="copyright">&copy; {{ year }} Chase Edwards</p>
</div>
