@use "variables";

.key {
    margin: 1px;

    button {
        min-width: 2.75rem;
        height: 3.75rem;
        background-color: variables.$main-gray;
        color: variables.$main-text-white;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background-color: lighten(variables.$main-gray, 5%);
        }
    }

    .large-btn {
        width: 4rem;
    }

    
}

@media screen and (min-height: variables.$breakpoint-height) {
    .key {
        button {
            min-width: 3.5rem;
            height: 4.5rem;
        }

        .large-btn {
            width: 5.75rem;
        }
    }
}