@use "variables";

.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 475px;
    margin: 0 auto;

    .backspace-btn {
        width: 4rem;
        height: 3.75rem;
        background-color: variables.$border-gray;
        color: variables.$main-text-white;
        border-radius: 4px;
        cursor: pointer;
    }
}