@use "variables";

.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 475px;
    margin: 0 auto;

    .backspace-btn {
        width: 4rem;
        height: 3.75rem;
        background-color: variables.$main-gray;
        color: variables.$main-text-white;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background-color: lighten(variables.$main-gray, 5%);
        }

        &-container {
            margin: 1px;
        }
    }

}

@media screen and (min-height: variables.$breakpoint-height) {
    .keyboard {
        width: 600px;
    
        .backspace-btn {
            width: 5.75rem;
            height: 4.5rem;
        }
    }
}