@use "variables";

.tutorial-dialog {
    width: 500px;
    background-color: variables.$main-bg-color;
    color: variables.$main-text-white;

    p {
        font-size: 0.90rem;
        margin-bottom: 1rem;

        &:last-child {
            margin-top: 1rem;
        }
    }

    .mat-divider {
        border-top-color: variables.$main-text-white;
    }
}

.tutorial-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;

    .tutorial-title {
        font-size: 1rem;
        font-weight: 700;
    }

    .close-tutorial-btn  {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        
        mat-icon {
            color: variables.$main-text-white;
            height: 24px;
            width: 24px;
        }
    }
    
    .placeholder {
        height: 24px;
        width: 24px;
    }
}

.tutorial-examples {
    margin-top: 1rem;

    .tut-grid-row-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 1rem;
    }
}