<div>
    <div class="tutorial-header">
        <div class="placeholder"></div>
        <h2>HOW TO PLAY</h2>
        <button
            class="close-tutorial-btn"
            [mat-dialog-close]="">
            <mat-icon>close</mat-icon>
    </button>
    </div>

    <p>Guess the WORDLE in six tries.</p>
    <p>Each guess must be a valid five-letter word. Hit the enter button to submit.</p>
    <p>After each guess, the color of the tiles will change to show how close your guess was to the word.</p>
    <mat-divider></mat-divider>
</div>
